name: fourmolu
on: push
jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: haskell-actions/run-fourmolu@v11
        with:
          pattern: |
            src/**/*.hs
